{% extends "base.html" %}

{% block title %} {{product.name}} - подробнее {% endblock %}

{% block content %}
<!--Breadcrumb-->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
  </ol>
</nav>

<h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }}</p>
    <p>Длительность: {{ product.duration }} минут</p>
    <h2>Список уроков</h2>
    <p>Количество уроков: {{ product.lessons.count }}</p>
<ul>
    {% for lesson in product.lessons.all %}
        <li>
            <span>{{ lesson.title }}</span>
            <br/>
            <span>Прогресс: {{ lesson.userlesson_set.first.video_progress }}%</span>
            <br/>
            {% if lesson.userlesson_set.first.viewed %}
                <span class="viewed">Просмотрено</span>
            {% else %}
                <span class="not-viewed">Не просмотрено</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
