{% extends "base.html" %}

{% block title %} {{product.name}} - подробнее {% endblock %}

{% block content %}
<!--Breadcrumb-->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
  </ol>
</nav>

<!--Информация по курсам-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{ product.name }}</h1>
        <small>Студентов: {{ enrolled_students }}</small>
      {% if product.image %}
        <img src="{{ product.image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="525">
      {% else %}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="525" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="30%" y="50%" fill="#eceeef" dy=".3em">Картинка отсутствует</text>
        </svg>
      {% endif %}
      <p>Количество уроков: {{ product.lessons.count }}</p>
      <h3>Описание курса:</h3>
      <p>{{ product.description }}</p>
      <p>Цена: {{ product.price }}</p>
      <p>Длительность: {{ product.duration }} минут</p>

<h3>Список уроков:</h3>
<div class="list-group">
    <div id="accordion">
        {% for lesson in product.lessons.all %}
            <div class="card" style="cursor: pointer;">
                <div class="card-header" id="heading{{ lesson.id }}">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Название урока: {{ lesson.title }}</h5>
                    <small>
                        {% if lesson.userlesson_set.first.viewed %}
                            <span class="viewed">Просмотрено</span>
                        {% else %}
                            <span class="not-viewed">Не просмотрено</span>
                        {% endif %}
                    </small>
                    </div>
                    <br/>
                    <small>
                        {% if lesson.userlesson_set.first.viewed %}
                            <span>Прогресс: {{ lesson.userlesson_set.first.video_progress }}%</span>
                        {% else %}
                            <span>Вы еще не проходили этот урок</span>
                        {% endif %}
                    </small>
                        <!--<small>Пройден: {% if lesson.userlesson_set.first.viewed %}Да{% else %}Нет{% endif %}</small>-->
                        <button class="btn btn-link {% if forloop.first %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapse{{ lesson.id }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ lesson.id }}"></button>

                </div>
                <div id="collapse{{ lesson.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ lesson.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <p>Описание: {{ lesson.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





    </div>
  </div>
</div>
<script>
    // Получаем все элементы строки урока и добавляем обработчик клика
    const lessonRows = document.querySelectorAll('.card');
    lessonRows.forEach((row) => {
        row.addEventListener('click', () => {
            const button = row.querySelector('button[data-toggle="collapse"]');
            if (button) {
                // Если найдена кнопка внутри строки, имитируем клик по ней
                button.click();
            }
        });
    });
</script>

{% endblock %}
